<% title "Presses" %>

    <div id="content_blog_holder">

      <% @articles.each do |article| %>

        <div class="content_blog_gap">
        <!-- end .content_blog_gap --></div>

        <div class="content_blog">

          <div class="inside_content_blog">

            <span class="gap_b4_blog_frame">
            <!-- end .gap_b4_blog_frame --></span>

            <span class="blog_frame">

              <div class="top_space_blog_frame">
              <!-- end .top_space_blog_frame --></div>

              <div class="space_blog_frame">
              <!-- end .space_blog_frame --></div>

            <!-- end .blog_frame --></span>

            <span class="blog_information">

              <div class="blog_gap_b4_title">
              <!-- end .blog_gap_b4_title --></div>

              <div class="blog_title">
              <!-- end .blog_title --></div>

              <div class="blog_gap_b4_title_1">
              <!-- end .blog_gap_b4_title_1 --></div>

              <div class="blog_date">
              <!-- end .blog_date --></div>

              <div class="blog_gap_b4_title_1">
              <!-- end .blog_gap_b4_title_1 --></div>

              <div class="blog_content">
              <!-- end .blog_content --></div>

              <div class="blog_gap_b4_title_1">
              <!-- end .blog_gap_b4_title_1 --></div>

              <div class="blog_button">
              <!-- end .blog_button --></div>

            <!-- end .blog_information --></span>

          <!-- end .inside_content_blog --></div>

        <!-- end .content_blog --></div>

      <% end %>

      <div class="content_blog_gap">
      <!-- end .content_blog_gap --></div>


      <div class="content_blog">

        <div class="inside_content_blog">

          <span class="gap_b4_blog_frame">
          <!-- end .gap_b4_blog_frame --></span>

          <span class="blog_frame">

            <div class="top_space_blog_frame">
            <!-- end .top_space_blog_frame --></div>

            <div class="space_blog_frame">
            <!-- end .space_blog_frame --></div>

          <!-- end .blog_frame --></span>

          <span class="blog_information">

            <div class="blog_gap_b4_title">
            <!-- end .blog_gap_b4_title --></div>

            <div class="blog_title">
            <!-- end .blog_title --></div>

            <div class="blog_gap_b4_title_1">
            <!-- end .blog_gap_b4_title_1 --></div>

            <div class="blog_date">
            <!-- end .blog_date --></div>

            <div class="blog_gap_b4_title_1">
            <!-- end .blog_gap_b4_title_1 --></div>

            <div class="blog_content">
            <!-- end .blog_content --></div>

            <div class="blog_gap_b4_title_1">
            <!-- end .blog_gap_b4_title_1 --></div>

            <div class="blog_button">
            <!-- end .blog_button --></div>

          <!-- end .blog_information --></span>

        <!-- end .inside_content_blog --></div>

      <!-- end .content_blog --></div>

      <div class="content_blog_gap">
      <!-- end .content_blog_gap --></div>

      <div class="content_blog">

        <div class="inside_content_blog">

          <span class="gap_b4_blog_frame">
          <!-- end .gap_b4_blog_frame --></span>

          <span class="blog_frame">

            <div class="top_space_blog_frame">
            <!-- end .top_space_blog_frame --></div>

            <div class="space_blog_frame">
            <!-- end .space_blog_frame --></div>

          <!-- end .blog_frame --></span>

          <span class="blog_information">

            <div class="blog_gap_b4_title">
            <!-- end .blog_gap_b4_title --></div>

            <div class="blog_title">
            <!-- end .blog_title --></div>

            <div class="blog_gap_b4_title_1">
            <!-- end .blog_gap_b4_title_1 --></div>

            <div class="blog_date">
            <!-- end .blog_date --></div>

            <div class="blog_gap_b4_title_1">
            <!-- end .blog_gap_b4_title_1 --></div>

            <div class="blog_content">
            <!-- end .blog_content --></div>

            <div class="blog_gap_b4_title_1">
            <!-- end .blog_gap_b4_title_1 --></div>

            <div class="blog_button">
            <!-- end .blog_button --></div>

          <!-- end .blog_information --></span>

        <!-- end .inside_content_blog --></div>

      <!-- end .content_blog --></div>

      <div class="content_blog_gap">
      <!-- end .content_blog_gap --></div>

      <div class="content_blog_gap">
      <!-- end .content_blog_gap --></div>

      <div class="content_blog_gap">
      <!-- end .content_blog_gap --></div>

      <div id="blog_navigation">
      <!-- end #blog_navigation --></div>

    <!-- end #content_blog_holder --></div>

