<% title "Get Informed about the Biography of Don Wizaro" %>

      <span id="biography_content">

        <div id="biography_content_header">
        <!-- end #biography_content_header --></div>

        <div id="biography_content_middle">

          <div id="biography_content_middle_content">

            <p>
              What does it mean to be the proprietor of your destiny? If you're a singer, songwriter,
              pianist extraordinaire, producer, author, news correspondent, award winner, philanthropist
              and actress like Alicia Keys, it's probably perceived as affluence. For Keys, prosperity
              isn't measured monetarily but through passion, self-fulfillment and life experiences.
              It's this philosophy that has made the songstress a master of endless promise and
              impressive achievements.
            </p>

            <p>
              Born and bred in New York's Hell's Kitchen, Keys was strongly influenced by music from all
              different generations and disciplines including the essential music of Nina Simone, Donny
              Hathaway, Marvin Gaye and Stevie Wonder; classical compositions of Frederic Chopin, Erik
              Satie, and Leontyne Price; and urban lyricists such as Tupac Shakur, The Notorious B.I.G.,
              Jay-Z and the Wu-Tang Clan. Since the age of seven, she received formal training in
              classical piano and jazz stylings of Oscar Peterson, Fats Waller, and Marian McPartland
              with her instructor Margaret Pine. However, it was not until Keys attended the Professional
              Performing Arts School under the tutelage of Miss Aziza, a bold pianist who wrote and
              composed original songs, that Keys was introduced to the art of songwriting and producing.
              Discovered by manager Jeff Robinson at a Harlem PAL when she was 14, Keys performed
              throughout the tri-state area, anywhere and everywhere she could from tiny clubs to street
              corners. Two years later, she received a scholarship for and briefly enrolled in Columbia
              University before leaving to pursue a music career.
            </p>

            <p>
              The road was far from being easy, but Keys' eclectic education and early life lessons
              inspired her musical hybrid of soul, hip-hop, jazz and classical. This fusion permeated
              her five-time, Grammy-winning 2001 inaugural release, Songs In A Minor, on Clive Davis'
              J Records. Debuting at the top of the Billboard 200 chart, Minor sold more than 235,000
              copies in its first week and later sales exceeded 10 million units worldwide. Together
              with Robinson, President of MBK Entertainment, producer Kerry "Krucial" Brothers, A&R
              executive Peter Edge and Davis, Chairman and CEO of BMG Label Group, Keys and her mentors
              solidified a formidable friendship and powerhouse musical team that encouraged and nurtured
              her musical vision and identity. "My team offers me different perspectives, but always
              recognizes the artist in me," she says. "They encourage me to be who I am creatively."
            </p>

            <p>
              After relentless touring, Keys followed her successful debut with her sophomore effort,
              The Diary of Alicia Keys, released in December 2003. The critically-acclaimed anthology
              sold more than 618,000 copies during the first week of release in the United States, was
              certified seven-times platinum, and garnered an additional four Grammys. Reflecting on her
              work for Diary, Keys stated: "When the album was completed I was ecstatic because I really
              felt the energy of the songs and hearing them as one piece of work, I was finally able to
              say, 'Yes, this is who I am right now.' I'm so proud, happy, and excited that I could offer
              this music to the world." It was so well-received that in October 2005, she released the
              three-time, Grammy-nominated live concert recording, Alicia Keys Unplugged, featuring her
              most acclaimed music, new exclusive songs, as well as memorable collaborations with Common,
              Mos Def, Damian Marley and Adam Levine of Maroon 5.
            </p>

            <p>
              Committed to excellence, Keys vowed that her new album As I Am will be like her previous
              masterpieces, a culmination of her world travels and personal experiences; and she certainly
              has delivered. "There's no formula to my music, it's just rooted in my heart and soul.
              Whether I talk about visiting the pyramids in Egypt, to witnessing the AIDS epidemic in
              Africa or matters of the heart everyone will be able to experience where I've been and where
              I am going in my life." In true Alicia Keys fashion, As I Am, raised the musical bar with
              stellar production by Keys, Linda Perry, Jack Splash, Mark Batson and Kerry "Krucial"
              Brothers. Described by Alicia as a powerful combination of "Rock 'n Soul - Janis Joplin
              meets Aretha Franklin," As I Am became another milestone recording in the young entertainer's
              career with over 742,000 units sold during it's first week of release. In addition, As I Am
              marks Alicia's fourth #1 debut on the Billboard Top 200 chart and her biggest sales week to
              date. Upon the November 2007 release of As I Am, Alicia held the prestigious title as the
              biggest debut for a female R&B artist in SoundScan history, and the highest selling debut for
              a female artist since 2004. Her third studio album, As I Am spawned the hit single "No One"
              which won two Grammy Awards in 2008 for Best R&B Song and Best Female R&B Vocal Performance.
              The third single from As I Am, "Superwoman" garnered an additional Grammy in 2009 for Best
              Female R&B Vocal Performance. Additionally, Keys received four awards at the 2008 NAACP Image
              Awards, was honored at the first annual BET Honors ceremony, and received the BET Award for
              Best R&B Female Artist. Enjoying one of the most successful periods in her career with over 5
              million copies of As I Am sold worldwide, Keys kicked off the As I Am Tour presented by Lexus
              in February 2008 with sold out shows for both the European and US portions of the tour.
            </p>

            <p>
              Throughout her career, Keys has earned numerous accolades. In addition to twelve Grammy Awards,
              she's nabbed eleven Billboard Music Awards, five American Music Awards, three World Music
              Awards, three MTV Video Music Awards, three MTV Europe Awards, two Nickelodeon Teen Choice
              Awards, three BET Awards, fourteen NAACP Image Awards, seven Soul Train Music Awards, two Soul
              Train Lady of Soul Awards, two People's Choice Award, one My VH1 Award and more.
            </p>

            <p>
              Complementing her musical achievements, Keys is also a New York Times best-selling author. In
              2005, Penguin Group USA published Tears for Water: Songbook of Poems & Lyrics, an introspective
              tome of original poetry and lyrics from Keys' first two albums. In 2004, The New York Daily
              News appointed Keys as a travel correspondent. Each month she chronicled the sites and
              experiences of her summer world tour, which included a performance at The Great Wall of China.
              In 2006, Alicia completed her first marathon, which she proudly ran in the birthplace of the
              sport - Greece. Also, the siren and Robinson have co-developed and co-written an original series
              for the CW Network entitled "Zora," which is scheduled to hit the tube later this year. Zora,
              the first production from their jointly owned production company Big Pita, Lil' Pita (BPLP), is
              a coming-of-age dramedy that follows the growing pains of a 15-year-old, bi-racial high school
              student struggling with self-awareness and typical teenage issues, after moving to a new
              neighborhood following her parents' divorce. "This is not my biography, but it is slices of my
              life," admits Keys, who also serves as the co-executive producer and co-creator. "It's a special
              show because it examines the complexities of bi-racial identity and those awkward teen years when
              you're still trying to find your place among your peers, community, and the world." Currently,
              BPLP has additional projects in development including a show for MTV, a film with director F.
              Gary Gray (Italian Job, Set It Off), and the contemporary remake of the 1958 romantic comedy,
              Bell, Book & Candle, which originally starred Kim Novak. The production of Bell, Book & Candle
              is part of BPLP's multi-year production deal with Disney.
            </p>

            <p>
              Unbeknownst to her loyalists, Keys' foray into Hollywood isn't entirely unfamiliar territory.
              Inheriting acting chops from her theater mom, Keys co-starred on The Cosby Show as a friend of
              Rudy Huxtable when she was only four-years-old. In January 2007, the native New Yorker made
              her silver screen debut in Universal Pictures' Smokin' Aces, a high-octane, cat-and-mouse
              adventure between the FBI and a gaggle of deadly assassins who are both after the same prey -
              a former Las Vegas magician-turned-mob-snitch named Buddy Israel (Jeremy Piven). Keys co-starred
              as Georgia Sykes, a seductive yet ruthless assassin, whose vicious reputation precedes her, and
              who, together with partner-in-crime Sharice Watters (Taraji Henson) are among the two of the
              many annihilators recruited to take out Buddy for a cool million bucks. "I loved everything
              about Georgia -- her calm, cool and collected nature and ability to get down to business," she
              says. "I was more interested in taking a risk with my foray into film rather than play a
              character that mirrors any part of who I am in real life." Directed by Joe Carnahan (Narc),
              Aces' stellar cast also included Ryan Reynolds, Ben Affleck, Andy Garcia, Ray Liotta and Common.
            </p>

            <p>
              On her way to fast-becoming a marquee favorite, Keys banked screen time with Scarlett Johansson
              in 2007 for The Weinstein Company's first post-Miramax production, The Nanny Diaries, which
              follows a college student who works as a nanny (Johansson) for a rich New York family. As
              Lynette, the boisterous bohemian and best friend of Johansson, Keys describes her character as
              "the earth of the movie." "I love that Lynette is the total antithesis of my Aces character,"
              she says. "That's important, because I never want to do one style of anything and I welcome
              diversity in everything I do."
            </p>

            <p>
              Keys hit the silver screen once again in October 2008 as June Boatwright, one of the three
              Boatwright sisters in the Fox Searchlight film adaptation of the bestselling novel by Sue Monk
              Kidd's The Secret Life of Bees.
            </p>

            <p>
              That desire for diversification translates to her philanthropic efforts. In 2002, Keys joined
              with "Keep A Child Alive (KCA)," a non-profit organization dedicated to providing life-saving
              anti-retroviral treatment to children and their families with HIV/AIDS in Africa and the
              developing world. "I have teamed up with KCA and co-founder Leigh Blake to lend my voice and
              support to the fight against AIDS that have left more than 12 million African children
              orphaned and 25 million dead in Africa during the last 25 years," she says. "This organization
              is an emergency response to the deadly "treatment gap" that is destroying Africa." After
              returning from Africa, Keys was instilled with a renewed sense of purpose and urgency in her.
              She and KCA have set a goal to increase the 17 percent of Sub-Saharan Africans who are
              receiving treatment to 72 percent -- the total of people who desperately need the AIDS
              treatment.
            </p>

            <p>
              Shortly after becoming involved with KCA, the chanteuse was named ambassador and co-host
              and musical director of the annual Black Ball, a benefit to promote HIV/AIDS awareness and
              raise funds for the charity. Over the last three years, Keys has brought together musical
              luminaries such as Bono, Kanye West, Damian Marley, Fela Kuti, David Bowie, Lenny Kravitz,
              Angelique Kidjo, John Mayer, Paul Simon, Nas, Common, and John Legend to help raise AIDS
              awareness and funds which provided ARVs to those desperately in need, help build clinics,
              pay for hospital staff, food and even care for orphans of the pandemic. "It's amazing to
              return to Africa and witness those who were so sickly they literally were near death, being
              brought back to life because of the medical care they were able to receive," she says.
              "Just knowing that your time and effort has helped build pediatric wings in hospitals and
              supply medicine to those who might not otherwise receive it, gives me a real sense of
              purpose."
            </p>

            <p>
              Keys charitable contributions are not only felt abroad but also on her home soil. Her
              humanitarian efforts continue as a board member of "Frum Tha Ground Up," a non-profit
              organization devoted to inspiring, motivating and encouraging the ambitions of America's
              youth and bringing them to fruition by instilling fortitude, confidence and integrity.
              She's also involved with "Teens in Motion," a grassroots organization that provides a safe
              environment for teens to excel in dance, singing, drama, spoken word and self-esteem
              workshops, located in the South Bronx.
            </p>

            <p>
              It's Keys' overwhelming desire to remain connected and affinity for the written language
              that prompted the re-launch of her website. A virtual fan club, www.ALICIAKEYS.com, offers
              a personal audio blog (the evolution of her long-running online journal), Alicia Keys'
              Book Club (ever three months a book will be chosen to read and discuss), all released
              audio, bonus tracks, videos, behind-the-scenes photos, interviews, and unreleased mobile
              ring and voice tones, as well as ring backs. Those who enroll as club members will receive
              an exciting all access pass to the exclusive world of Alicia Keys. Everything from her
              current projects in music, film, charity and production will be shared with members. But
              this intimate environment not only allows Keys to keep her ears to the streets, but is
              reciprocity at its best. "This site benefits me just as much as it does my fans," admits
              Keys. "Not only, do I get to show my appreciation to those who truly support me and love
              music, but I can also finally document those special moments that I'd like to remember."
              Members can also visit www.krucialkeys.com, the official website of her production company
              with business partner Kerry "Krucial" Brothers, to check out their studio sessions.
            </p>

            <p>
              Undoubtedly, Alicia Keys is an evolving artist who has claimed ownership of her future.
              "My music allows me to speak freely," she says. "It doesn't have a beginning or ending
              because it's an integral part of my ongoing journey." As she progresses in her artistry
              and life, it's evident that Keys profoundly invests her attention and energy to every
              commitment she makes. Whether it's producing another platinum award-winning album or
              serving as an activist in the Motherland, our beloved soul maven is a creative force and
              will forever be the consummate musician, actress, entrepreneur, humanitarian and
              philanthropist.
            </p>

          <!-- end #biography_content_middle_content --></div>

        <!-- end #biography_content_middle --></div>

        <div id="biography_flash_content">
        <!-- end #biography_flash_content --></div>

        <div id="biography_content_background_bottom">
        <!-- end #biography_content_background_bottom --></div>

      <!-- end #biography_content --></span>

