    <% title "#{@title}" %>

    <div id="content_span_gap1">
    <!-- end #content_span_gap1 --></div>

    <div id="content_promoted_single">
    <!-- end #content_promoted_single --></div>

    <div id="content_span_gap2">
    <!-- end #content_span_gap2 --></div>

    <div id="content_bars">

      <div id="content_bars_holder">

        <span id="content_bars_news">
        <!-- end #content_bars_news --></span>

        <span class="content_bars_gap">
        <!-- end .content_bars_gap --></span>

        <span id="content_bars_community">
        <!-- end #content_bars_community --></span>

        <span class="content_bars_gap">
        <!-- end .content_bars_gap --></span>

        <span id="content_bars_media">
        <!-- end #content_bars_media --></span>

        <span class="content_bars_gap">
        <!-- end .content_bars_gap --></span>

        <span id="content_bars_events">
        <!-- end #content_bars_events --></span>

      <!-- end #content_bars_holder --></div>

    <!-- end #content_bars --></div>

    <div id="content_span_gap3">
    <!-- end #content_span_gap3 --></div>

